#messages {
    border: 2px solid red;
    height: 200px;
    overflow-y: auto;
    margin-top: 15px;
    width: 80%;
}
#messageInput {
    width: 80%;
    border: 2px solid blueviolet;
    height: 30px;
}
#sendButton {
    width: 8%;
    height: 33px;
    background-color: green;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#sendButton:hover {
    background-color: blue;
    text-shadow: 5px;
}