body {
   margin: 0;
   font-family: Arial, sans-serif;
 }
 
 .header {
   background-color: #333;
   color: white;
   padding: 20px;
   text-align: center;
 }
 
 .navbar {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: red;
   color: white;
   padding: 10px;
   box-sizing: border-box;
   z-index: 1000;
 }
 
 .container {
   display: flex;
   margin-top: 60px; /* Высота фиксированной навигации */
 }
 
 .main-content {
   flex: 3;
   padding: 20px;
 }
 
 .sidebar {
   flex: 1;
   padding: 20px;
   background-color: lightcoral;
 }
 
 .footer {
   background-color: green;
   color: white;
   padding: 20px;
   text-align: center;
   position: relative;
   margin-top: auto;
 }